header {
  background-image: url(../img/nike-run.png);
  background-size: contain;
}

.fotorama {
  padding: 30px 0 30px 460px;
  width: 700px;
}

.checkbox_outher{
  display: flex;
  flex-direction: column;
}


.niceCheck {
  width: 35px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox-nice.png);
}

.niceCheck input {
  display: none;
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
label:before {
    content: " ";
    display: inline-block;
    width: 35px;
    height: 30px;
    background: url(../img/checkbox-nice.png);
    position: relative;
    top: 3px;
}

input[type=checkbox]:checked + label:before {
background-position: -47px 0;
}
