header {
  background-image: url(../img/nike-run.png);
  background-size: cover;
}

.fotorama {
  padding: 30px 0 30px 460px;
  width: 700px;
}

.select {
  width: 300px;
}

.niceCheck {
  width: 35px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox-nice.png);
}

.niceCheck input {
  display: none;
}
